@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: bisque;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background: cover no-repeat 100% center;
    height: 80vh;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    margin: 5px;
    transition: flex 0.7s ease-in;
    text-align: center;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.5s;
}


@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-last-of-type(4), .panel:nth-last-of-type(5) {
        display: none;
    }
}